html, body {
    height: 100%;
    margin: 0;
    white-space:nowrap;
}

#header {
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
}

#wrapper {
    height:-moz-calc(100% - 160px); /* Firefox */
    height: -webkit-calc(100% - 160px); /* Chrome, Safari */
    height: calc(100% - 160px); /* IE9+ */
    overflow:auto;
}

#menu {
    width: 150px;
    height: 100%;
    line-height: 25px;
    background-color: yellow;
    float: left;
    overflow: auto;
}

    #menu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: block;
    }

        #menu ul li {
            width: 150px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }

#body {
    width: -moz-calc(100% - 150px); /* Firefox */
    width: -webkit-calc(100% - 150px); /* Chrome, Safari*/
    width: calc(100% - 150px); /* IE9+ */
    height:100%;
    background-color: green;
    float:right;
    overflow: auto;
    text-align: justify;
}

#footer {
    width: 100%;
    background-color: pink;
    float:left;
}

.pMainDisplay {
    color: white;
    font-size: 14px;
    white-space: pre-wrap;
    padding: 10px;
}

.hStyle{
    color: white;
    font-size: 20px;
    white-space: pre-wrap;
    padding: 10px;
}
